*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Roboto', sans-serif;
	background-image: url('patt.png');
}
a{
	text-decoration: none;
}
li{
	text-decoration: none;
	list-style: none;
}
.container{
	width: 1170px;
	margin: 0 auto;
}
.row:after{
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
	float: left;
}
.col-3{
	width: 25%;
}
.col-6{
	width: 50%;
}
.header{
	background-color: rgba(255,255,255,0.75);
	padding: 25px 0;

}
.menu > li {
width: 25%;
float: left;
border-left: 1px solid #2c71b8;
}
.menu a{
	display: block;
	text-align: center;
	height: 50px;
	line-height: 50px;
	color: #2c71b8;
	transition: all 0.3s ease;
}
.menu li:last-child{
border-right: 1px solid #2c71b8;
}
.menu a:hover{
	background-color: #2c71b8;
	color: white;
	box-shadow: 1px 5px 10px -5px #2c71b8;
	transition: all 0.3s ease;
}
.search{
	float: left;
	width: 150px;
}
.search input{
	width: 140px;
	border: 1px solid #2c71b8;
	color: rgb(128,170,212);
	background: rgb(202,219,237);
	margin: 5px;
	padding: 5px;
	min-height: 20px;
}
input[type="submit"] {
    width: 20px; 
    height: 20px;
    border: none;
    background: url(search.png) no-repeat 50% 50% #2c71b8;
    position: absolute;
    top: 3px;
	left: 115px;
}
.posreal{
	position: relative;
	top: 5px;
}
.basket{
	float: left;
	position: relative;
	top: -30px;
	left: 6px;
	width: 15px;
	height: 15px;
}
.bgw{
	position: relative;
	top: 10px;
	left: 158px;
	background: white;
	width: 30px;
	height: 30px;
}
#circle {
	width: 12px;
	height: 12px;
	background: #2c71b8;
	color: white;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	position: absolute;
    top: -4px;
	left: -6px;
	text-align: center;
	font-size: 10px;
}
.submenu{
	position: absolute;
	min-width: 150px;
	display: none;
}
.submenu a{
	background-color: #2c71b8;
	color: white;
}
.menu > li:hover .submenu {
	box-shadow: 1px 5px 10px -5px #2c71b8;
	transition: all 0.3s ease;
	display: block;
}
.submenu a:hover {
	background-color: white;
	color: #2c71b8;
}